@model IEnumerable<EasyBlog.Support.Entities.BlogPost>
@{
    var localStrings = DependencyResolver.Current.GetService<EasyBlog.Web.Core.ILocalStrings>();
}

<div class="jumbotron">
    <h1>@localStrings.PostsTitle</h1>
</div>

<div>
    @foreach (EasyBlog.Support.Entities.BlogPost blogPost in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                <a href="home/post/@blogPost.BlogPostId">
                    <span>@blogPost.PostSubject</span>
                </a>
            </div>
        </div>
    }
</div>
